.splash-bg{
	margin-top: 100px;
}
.splash-main{
	margin-top: 10em;
}

.splash-link{
	color: white;
}

.splash-link:hover{
	text-decoration: none;
}

.splash-pets{
	width: 750px;
	display: flex;
	float: left;
}

.splash-text{
	margin-top: 250px;
	display: flex;
	Justify-content: flex-start;
}

.splash-content{
	display: flex;
	align-items: center;
	justify-content: center;
}